<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpErrors existingResponse="PassThrough"/>
		<rewrite>
			<rules>
				<clear/>
				<rule name="Index" patternSyntax="Wildcard" stopProcessing="true">
					<match url="*"/>
					<action type="Rewrite" url="index.php?page={R:1}"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
